table {
  width: 100%;
}


tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

// .example-element-diagram {
//   min-width: 80px;
//   border: 2px solid black;
//   padding: 8px;
//   font-weight: lighter;
//   margin: 8px 0;
//   height: 104px;
// }

// .example-element-symbol {
//   font-weight: bold;
//   font-size: 40px;
//   line-height: normal;
// }

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  flex: 0 0 6%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  flex: 0 0 30%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
  flex: 0 0 6%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7){
  flex: 0 0 7%;
}

.float-right {
  float: right;
  margin-bottom: 20px;
}

.space {
  margin-right: 15px;
}

.element-box {
  padding-bottom: 5px;
}

.data {
  margin-left: 200px;
}

.data-first {
  margin-left: 100px;
}
img {
  width:64px;
  
}
  
.img-cell{
    width:64px;
}