<table><tr><td style="vertical-align:top"><h1>CDO</h1></td><td>
<jqxChart 
  [width]="600" [height]="300" 
  [title]="'Total Volume in CDOs'" [description]="''" 
  [enableAnimations]="true" [showLegend]="false" [padding]="padding" [backgroundColor]="'#F2F2F2'"
  [titlePadding]="titlePadding" [source]="sampleData" [xAxis]="xAxis" [showBorderLine]="false"
  [valueAxis]="false" [seriesGroups]="seriesGroups" [colorScheme]="'scheme01'">
  </jqxChart></td><td><jqxChart 
    [width]="600" [height]="300" 
    [title]="'Amount of Mortages in CDOs'" [description]="''" 
    [enableAnimations]="true" [showLegend]="true" [padding]="padding" [backgroundColor]="'#F2F2F2'"
    [titlePadding]="titlePadding" [source]="sampleData2" [xAxis]="xAxis" [showBorderLine]="false"
    [valueAxis]="false" [seriesGroups]="seriesGroups" [colorScheme]="'scheme01'" [legendLayout]="legendLayout">
    </jqxChart></td></tr></table>
    


<div>
  <!-- <div class="float-right">
    <button mat-raised-button [disabled]="selectedRows.length == 0" (click)="createCDO()">Create CDO </button>
  </div> -->
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-cell">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (click)="onAllClick()" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="onclick(row)" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="cdoID">
      <th mat-header-cell *matHeaderCellDef> CDO ID </th>
      <td mat-cell *matCellDef="let element"> {{element.cdoID}} </td>
    </ng-container>
    <ng-container matColumnDef="cdoName">
      <th mat-header-cell *matHeaderCellDef> CDO Name </th>
      <td mat-cell *matCellDef="let element"> {{element.cdoName}} </td>
    </ng-container>
    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef> Current Owner </th>
      <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
    </ng-container>
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Total Rating </th>
      <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
    </ng-container>
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let element">  {{ element.start | date : 'MM/dd/yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="runtime">
      <th mat-header-cell *matHeaderCellDef> Expires </th>
      <td mat-cell *matCellDef="let element"> {{element.runtime}}</td>
    </ng-container>
    <ng-container matColumnDef="mortgages">
      <th mat-header-cell *matHeaderCellDef> Mortgages </th>
      <td mat-cell *matCellDef="let element"> {{element.mortgagesIDs}}</td>
    </ng-container>
    
    <!-- <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="data-first">
            <h3> Personal Data </h3>
            <p>CDO ID: {{element.cdoId}}</p>
            <p>Name: {{element.name}} </p>
            <p>Name: {{element.birthday}} </p>
            <p>City: {{element.plz}} {{element.city}} </p>
            <p>Street: {{element.street}} </p>
          </div>

          <div class=data>
            <h3> Employee Data </h3>
            <span>Employer: {{element.employer}}</span>
            <p>Job: {{element.job}} </p>
            <p>Salary: {{element.salary}} €</p>
          </div>

          <div class=data>
            <h3> Bank Data </h3>
            <span>Bank: {{element.owner}}</span>
            <p>IBAN: {{element.banking_info}} </p>
          </div>

          <div class=data>
            <h3> CDO Data </h3>
            <span>Volume: {{element.volume}}</span>
            <p>Interest: {{element.interest}} </p>
            <p>Period: {{element.period}} Years </p>
            <p>Start: {{element.start}} Years </p>
            <p>Asset: {{element.asset}} Years </p>
            <p>Rating: {{element.rating}} Years </p>
          </div>
        </div>
      </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, row.name, row.email, row.phone)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
    </tr>

    <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->

  </table>

  <div class="no-results" [style.display]="dataSource.length == 0 ? '' : 'none'">
    No results
  </div>

</div>
